body {
  width: 100vmax;
  height: 100vmin;
  overflow: hidden;
  background: url(sun-background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.form_container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Border_container {
  background-color: white;
  padding: 20px 20px;
  border-radius: 20px 20px 20px 20px;
}

.Border_container label {
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

#main_heading {
  font-family: 'Merriweather', cursive;
  text-align: center;
  font-weight: bolder;
  font-size: 2.8rem;
  padding-bottom: 5px;
}

.input_container {
  display: flex;
  position: relative;
  padding-bottom: 5%;
}

.left {
  flex: 50%;
}

.left input {
  height: 27px;
  margin-top: 5%;
  width: 86%;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  border-radius: 15px 15px 15px 15px;
  
}

.right {
  flex: 50%;
}

.right select {
  margin-top: 5%;
  width: 90%;
  height: 30px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  border-radius: 15px 15px 15px 15px;
  
}

input[type=number]:focus {
  outline: none;
}

select:focus {
  outline: none;
}


#resultContainer {
  margin-top: 3%;
  border: 1px solid black;
  width: 100%;
  height: 35px;
  text-align: left;
  background-color: white;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  border-radius: 15px 15px 15px 15px;
  
}

input,
select,
button {
  font-size: 20px;
}